body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;}

  .topnav {
  overflow: hidden;
  background-color: #333;}

  .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 20px;}

  .topnav a:hover {
  background-color: #ddd;
  color: black;}

  .topnav a.active {
  background-color: #4CAF50;
  color: white;}

  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;right:10px;top:80px;z-index:10000; }

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 99%;  }

  td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 10px;  }

  tr:nth-child(even) {
  background-color: #dddddd;  }


  #neworder, #oder_list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;  }

  #neworder td, #oder_list td, #neworder th, #oder_list th {
  border: 1px solid #ddd;
  padding: 8px;  }

  #neworder tr, #oder_list tr:nth-child(even){background-color: #f2f2f2;}

  #neworder tr, #oder_list tr:hover {background-color: #ddd;}

  #neworder th, #oder_list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;  }



  test page

  body {
  	background-image: url('.jpg');
  	background-color: #D9E5FF;
  	margin: 50px;  }

  header {
  	background-color: #353535;
  	text-align: center;
  	margin: 0px;
  	padding: 20px;
  	opacity: 0.6;  }

  article {
  	display: block;
  	width: 28%;
  	background-color: #4C4C4C;
  	float: left;
  	margin: 10px;
  	opacity: 0.6;  }

  section {
  	display: block;
  	background-color: #FFFFFF;
  	margin: 8px;
  	padding: 6px;  }

  iframe {
  	float: right;  }
